<h2>Perfil {{usuario.first_name}}</h2>
<hr>

<br>




<hr>
<ul>
   
    <li>

        <strong>Nombre:</strong> {{usuario.first_name        }} <br>
        <strong>Apellido:</strong> {{usuario.last_name   }} <br>
        <strong>Email:</strong> {{usuario.email          }}<br>
        <strong>Edad:</strong> {{usuario.age     }}<br>
        <strong>Rol: </strong> {{usuario.rol     }}<br>
        <strong>Carts: </strong>{{usuario.cart      }}<br>
        
    

<br><br>

    </li>




<a href="/products">Productos</a> <br>