<h2>Producto Seleccionado</h2>
<hr>
<ul>

    <li>

        <strong>Id:</strong> {{id}} <br>
        <strong>Title:</strong> {{title}} <br>
        <strong>Description:</strong> {{description}}<br>
        <strong>Code:</strong> {{code}}<br>
        <strong>Price: </strong> {{price}}<br>
        <strong>Status: </strong>{{status}}<br>
        <strong>Stock: </strong> {{stock}}<br>
        <strong>Category: </strong>{{category}}<br>
        <strong>Thumbnails: </strong> {{thumbnails}}<br>


       
<div class="botonContainer">
  <a href="/products/{{idParam}}" class="productSelect">Add</a>

  <span class="plus">+</span>

</div>

     
        <br><br>

    </li>




</ul>




<br><br>

<a href="/products?page=1">All Products</a>


<a href="/">Home</a>